<template>
    <v-container fluid fill-height style="display: block">
        <div class="headline text-uppercase" align="center">
            <span>REPAIR RECORDING SCREEN LOGIN</span>
            <span class="font-weight-light"></span>
        </div>
        <v-layout row wrap grid-list-md align-center justify-center fill-height pa-5 ma-0 style="height: calc( 100% - 30px)">
            <v-flex xs12 sm8 lg4 md5>
                <v-card class="login-card">
                    <v-card-title>
                        <span class="headline">Login</span>
                    </v-card-title>

                    <v-spacer />

                    <v-card-text>

                        <v-layout
                            row
                            fill-height
                            justify-center
                            align-center
                            v-if="loading"
                        >
                            <v-progress-circular
                            :size="50"
                            color="primary"
                            indeterminate
                            />
                        </v-layout>

                        <v-form v-else ref="form" v-model="valid" lazy-validation :rules="rules">
                            <v-container>
                                <v-text-field v-model="credentials.username"
                                :counter="70"
                                label="Username"
                                maxlength="70"
                                required
                                />

                                <v-text-field v-model="credentials.password"
                                :counter="20"
                                label="Password"
                                :type="'password'"
                                maxlength="20"
                                required
                                />

                            </v-container>
                            <v-btn class="blue white--text" :disabled="!valid" @click="login">Login</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>

import axios from '../axios';
import swal from 'sweetalert2';
import router from '../router';

export default {
    name: 'Auth',

    data: () => ({
        credentials: {},
        valid: true,
        loading: false,
        rules: {
            username:[
                name => !!name || 'Username is required',
                name => (name && name.length > 3) || 'Username length should be greater than 3',
                name => /^[a-z0-9_]+$/.test(name) || 'Username can only contain letter and digits',
            ],
            password: [
                pass => !!pass || 'Password is required',
                pass => (pass && pass.length > 7) || 'Password length should be greater than 7'
            ]
        }
    }),

    mounted() {
        this.clearCredentials();
    },

    methods: {
        clearCredentials() {
            localStorage.clear();
        },

        async login(){
            if(this.$refs.form.validate()){
                try{
                this.loading = true;
                const res = await axios('externalrepairlogin', this.credentials);
                const { data, status } = res;
                if(!data.isUserFound || status !== 200){
                    this.clearCredentials();
                    this.loading = false;
                    swal.fire({
                        type: 'warning',
                        title: 'Error',
                        text: 'Wrong username or password',
                        showConfirmButton:true,
                        showCloseButton:false,
                        timer:3000
                    })
                }else{
                    localStorage.setItem('token', res.data.token);
                    router.push('/repair');
                }
                }catch (error){
                    this.loading = false;
                    swal.fire({
                        type: 'warning',
                        title: 'Error',
                        text: 'Wrong username or password',
                        showConfirmButton:true,
                        showCloseButton:false,
                        timer:3000
                    })
                }
            }
        }
    
    }
}
</script>

<style scoped>

</style>